<div class="w-full flex flex-col items-center">
  <div>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Formats</h1>
    </div>
  </div>

  <div class="flex flex-col items-center mb-[10px] w-full">
    <div class="max-w-[600px] w-full border-[1px] p-[10px]">
      <%= render @formats %>
    </div>
  </div>
</div>
