<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= category.uuid %>
  </p>

  <p>
    <strong>Books:</strong>
    <%= category.books_count %>
  </p>

</div>
