<div id="<%= dom_id category %>" class="flex flex-row items-center justify-between">
  <div class="text-lg"><%= category.name %></div>

  <div class="text-sm"><%= category.books_count %> <%= "book".pluralize(category.books_count) %></div>
</div>

<hr>
